{{.User}} ALL=(ALL) NOPASSWD: /usr/sbin/scutil
{{.User}} ALL=(ALL) NOPASSWD: /sbin/nfsd enable
{{.User}} ALL=(ALL) NOPASSWD: /sbin/nfsd start
{{.User}} ALL=(ALL) NOPASSWD: /sbin/nfsd update
{{.User}} ALL=(ALL) NOPASSWD: /sbin/route -n delete -net *
{{.User}} ALL=(ALL) NOPASSWD: /sbin/route -n add -net *
