.:53 {
    log
    errors
    health {
       lameduck 5s
    }
    ready
    kubernetes k8s.lan in-addr.arpa ip6.arpa {
       pods insecure
       fallthrough in-addr.arpa ip6.arpa
       ttl 30
    }
    prometheus :9153
    hosts {
       {{.MinikubeHostIp}} host.minikube.internal
       fallthrough
    }
    forward . /etc/resolv.conf {
       max_concurrent 1000
    }
    cache 30
    loop
    reload
    loadbalance
    rewrite name puppet.{{.DataCenter}}.default.svc.k8s.lan puppet-server.{{.DataCenter}}.default.svc.k8s.lan
}
